<h1 mat-dialog-title><strong>{{action}}</strong> um produto</h1>
<div mat-dialog-content *ngIf="action != 'Apagar'; else elseTemplate">
  <mat-form-field class="full-width">
    <input placeholder="Nome" matInput [(ngModel)]="local_data.name">
  </mat-form-field>
  <mat-form-field class="full-width">
    <input placeholder="Preço" matInput currencyMask [(ngModel)]="local_data.price" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
  </mat-form-field>
  <mat-form-field class="full-width">
    <ngx-mat-file-input #removableInput  [(ngModel)]="local_data.file" placeholder="Clique para adicionar um arquivo"></ngx-mat-file-input>
    <button mat-icon-button matSuffix *ngIf="!removableInput.empty" (click)="removableInput.clear($event)">
      <mat-icon>Limpar</mat-icon>
    </button>
  </mat-form-field>
</div>
<ng-template #elseTemplate>
  Tem certeza que quer apagar <b>{{local_data.name}}</b>?
</ng-template>
<div mat-dialog-actions>
  <button mat-button (click)="doAction()" mat-raised-button color="primary">{{action}}</button>
  <button mat-button (click)="closeDialog()" mat-raised-button color="warn">Cancel</button>
</div>
